In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

A series is like an array in numpy, but it has a label thus making it indexed

In [2]:
obj = Series([3,6,9,12])

obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values # To just see the values

array([ 3,  6,  9, 12])

In [4]:
obj.index # To show just the index

Int64Index([0, 1, 2, 3], dtype='int64')

In [5]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR', 'Germany', 'China', 'Japan', 'USA'])

ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [6]:
ww2_cas['USA']

400000

In [7]:
# Check which countries had casualties greater than 4m
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [8]:
'USSR' in ww2_cas # Should get a True because USSR is in our series

True

In [10]:
# We can convert a series INTO a dictionary
ww2_dict = ww2_cas.to_dict()

ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [11]:
# Convert it back into a series
ww2_series = Series(ww2_dict)

ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [12]:
countries = ['China', 'Germany', 'USSR', 'Japan', 'USA', 'Argentina']

In [13]:
obj2 = Series(ww2_dict, index=countries)

In [14]:
obj2

China        3000000
Germany      4300000
USSR         8700000
Japan        2100000
USA           400000
Argentina        NaN
dtype: float64

In [15]:
pd.isnull(obj2) # Check if there is a Null, will return True if null exists

China        False
Germany      False
USSR         False
Japan        False
USA          False
Argentina     True
dtype: bool

In [16]:
pd.notnull(obj2)

China         True
Germany       True
USSR          True
Japan         True
USA           True
Argentina    False
dtype: bool

In [17]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [19]:
# Add Series to Series
added_series = ww2_series + obj2

added_series

Argentina         NaN
China         6000000
Germany       8600000
Japan         4200000
USA            800000
USSR         17400000
dtype: float64

In [21]:
obj2.name = 'WWII Casualties'

obj2

China        3000000
Germany      4300000
USSR         8700000
Japan        2100000
USA           400000
Argentina        NaN
Name: WWII Casualties, dtype: float64

In [22]:
# Name the index
obj2.index.name = 'Countries'

obj2

Countries
China        3000000
Germany      4300000
USSR         8700000
Japan        2100000
USA           400000
Argentina        NaN
Name: WWII Casualties, dtype: float64