In [1]:
import numpy as np

import pandas as pd

from pandas import Series,DataFrame

In [2]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [5]:
nfl_frame = pd.read_clipboard()

In [6]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West

In [7]:
# Grab the columns 
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Divison'],
      dtype='object')

In [8]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [10]:
nfl_frame['First NFL Season'] # If the column has more than 1 word in it

0    1920
1    1960
2    1921
3    1966
4    1950
Name: First NFL Season, dtype: int64

In [11]:
DataFrame(nfl_frame,columns=['Team', 'First NFL Season', 'Total Games'])

                  Team  First NFL Season Total Games
0        Chicago Bears              1920       1,338
1       Dallas Cowboys              1960         850
2    Green Bay Packers              1921       1,304
3       Miami Dolphins              1966         768
4  San Francisco 49ers              1950       1,019

In [12]:
# What happens if you ask for a column that doesn't exist?
DataFrame(nfl_frame,columns=['Team', 'First NFL Season', 'Total Games', 'Stadium'])

                  Team  First NFL Season Total Games  Stadium
0        Chicago Bears              1920       1,338      NaN
1       Dallas Cowboys              1960         850      NaN
2    Green Bay Packers              1921       1,304      NaN
3       Miami Dolphins              1966         768      NaN
4  San Francisco 49ers              1950       1,019      NaN

In [13]:
# How to retrieve rows from a data frame
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West

In [14]:
nfl_frame.head(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East

In [15]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West

In [16]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            429
Lost                           335
Tied                             4
Pct.                          .561
First NFL Season              1966
Total Games                    768
Divison                   AFC East
Name: 3, dtype: object

In [17]:
# Assign values to entire columns
nfl_frame['Stadium'] = "Levi's Stadium"

In [18]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East,Levi's Stadium
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West,Levi's Stadium

In [20]:
nfl_frame['Stadium'] = np.arange(5) # Add numbers using np.arange

In [21]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East,3
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West,4

In [ ]:
# Add a series to a dataframe

In [22]:
stadiums = Series(["Levi's Stadium", "AT&T Stadium"], index=[4,0])

In [23]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [24]:
 nfl_frame['Stadium'] = stadiums

In [25]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North,AT&T Stadium
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North,NaN
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East,NaN
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West,Levi's Stadium

In [26]:
# Delete entire columns 
del nfl_frame['Stadium']

In [27]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West

In [28]:
# Construct data frames by passing in dictionaries

data = {'City':['SF', 'LA', 'NYC'], 'Population':[83700,3880000,84000000]}

In [29]:
city_frame = DataFrame(data)

In [30]:
city_frame

  City  Population
0   SF       83700
1   LA     3880000
2  NYC    84000000